* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  font-family: 'Segoe UI', Tahoma;
  background: #fff5ee;
  /* ivory #fffff0; */
  color: #000; 
  font-size: 15px;
  line-height: 1.5; ;
}

a {
  color: #262626;
  text-decoration: none; 
}

ul {
  list-style: none; 
}

.container {
  width: 90%;
  max-width: 1100px; 
  margin: auto; 
}

.mainNav {
  display: flex;   
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.mainNav .logo {
  width: 110px;  
}

.mainNav ul {
  /* sets list items into horizontal row */
  display: flex; 
}

.mainNav ul li {
  /* adds space between menu items */
  padding: 0 10px;  
} 

.mainNav ul li a {
  padding-bottom: 2px; 
}

.mainNav ul li a:hover {
  border-bottom: 2px solid #7851a9;
}

.mainNav ul.mainMenu {
  flex: 1; 
  margin-left: 20px; 
} 

.btn {
  cursor: pointer; 
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px; 
}

.btn:hover {
  /* slightly transparent */
  opacity: 0.9; 
}

.dark {
  color: #ffff;
}

.dark .btn {
  background: #f4f4f4;
  color: #333;
}

/**************************showcase */
.showcase {
  /* width, height relative to its container */
  width: 100%;
  height: 400px; 
  background: url('./img/slide1.png')
  no-repeat center center/cover;
  display: flex;
  /* put in column, takes up horizontal space */
  flex-direction: column;
  align-items: center; 
  text-align: center;
  /* bottom of a column */
  justify-content: flex-end; 
  /* Padding properties are used to generate space around an element's content, inside of any defined borders. */
  padding-bottom: 50px;
  margin-bottom: 20px; 
}

.showcase h2, .showcase p {
  margin-bottom: 10px; 
}

.showcase .btn {
  margin-top: 20px;
}

/************************* home cards */
.home-cards {
  display: grid;
  /* fr: fractions of grid */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; 
  margin-bottom: 40px;
}

.home-cards img {
  /* in a grid, images may overflow */
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px; 
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8; 
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 010px; 
}

/*************************** x box */
.xbox {
  width: 100%;
  height: 350px;
  background: url('img/xbox.png') no-repeat center center/cover;
  margin-bottom: 20px;  
}

.xbox .content {
  width: 40%;
  padding: 50px 0 0 30px; 
}

.xbox p, .carbon p{
  margin: 10px 0 20px; 
}

/*************************** carbon */
.carbon {
  width: 100%;
  height: 350px;
  background: url('img/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px; 
}

/************************** follow */
.follow {
  /* puts 'Follow Microsoft in line with other row elements */
  display: flex; 
  /* vertical align */
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0; 
}

/* everything in .follow */
.follow * {
  margin-right: 10px;
}

/************************** links */
.follow * {
  background:#f2f2f2;
  color: #616161;
  font-size: 12px; 
  padding: 35px 0; 
}